<h2>Todos</h2>

<div>
  <label>Todo :
    <input #todoDescription />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addTodo(todoDescription.value); todoDescription.value=''">
    ajouter
  </button>
</div>

<mat-card cdkDropList class="todos" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let todo of todos" cdkDrag>
    <a routerLink="/todoDetail/{{todo.id}}">
      <span class="badge">{{todo.id}}</span> {{todo.description}} - {{todo.ordre}}
    </a>

    <button class="delete" title="delete todo" (click)="delete(todo)">x</button>
  </div>
</mat-card>

<div class="cards">

  <mat-card *ngFor="let card of cards; let i = index" class="card" fxLayout="column" fxLayoutGap="32px">

    <a routerLink="/todosOfCard/{{card.id}}">
      <h1>{{card.nom}} {{card.id}}</h1>

      <div *ngFor="let todo of card.todos">

        <button class="badge">{{todo.id}}</button> 
        {{todo.description}}

      </div>
    </a>
  </mat-card>




</div>