<h1>Tour of heroes</h1>
<link rel="icon" type="image/x-icon" href="favicon2.ico">

<nav>
  <a routerLink="/hero-dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<h1>Todo</h1>
<nav>
    <a routerLink="/todos">Todos</a>
    <!-- <a routerLink="/todosOfCard">Todos of card</a> -->
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
