<div *ngIf="todo">
  <h2>{{todo.description | uppercase}} Description</h2>
  <div><span>id: </span>{{todo.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="todo.description" placeholder="description"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
