<h2>Todos of Card</h2>

<div>
  <label>Todo :
    <input #todoDescription />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addTodo(todoDescription.value); todoDescription.value=''">
    ajouter
  </button>
</div>

<mat-card cdkDropList class="todos" (cdkDropListDropped)="drop($event)">
  <h1>{{card.nom}} {{card.id}}</h1>
  <div *ngFor="let todo of card.todos" cdkDrag>
    <a routerLink="/todoDetail/{{todo.id}}">
      <span class="badge">{{todo.id}}</span>
      {{todo.description}} - n°{{todo.ordre}}
    </a>
    <button class="delete" title="delete todo" (click)="delete(todo)">x</button>
  </div>
</mat-card>
